.dashboard-container {
  h2 {
    color: var(--ion-color-dark);
    margin-bottom: 20px;
  }

  ion-list {
    background: transparent;

    ion-item {
      --background: rgb(0, 0, 0);
      border-radius: 10px;
      margin-bottom: 10px;
      --padding-start: 16px;
      --inner-padding-end: 16px;

      ion-avatar {
        width: 50px;
        height: 50px;
        margin-right: 16px;

        img {
          background: var(--ion-color-light);
          border-radius: 50%;
        }
      }

      ion-label {
        h3 {
          font-weight: 600;
          color: var(--ion-color-dark);
        }

        p {
          color: var(--ion-color-medium);
          font-size: 14px;
        }
      }

      ion-icon {
        color: var(--ion-color-medium);
      }
    }
  }

}